In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df= pd.read_csv("vehicle_train.csv")

In [3]:
pd.set_option('display.max_columns',50)
pd.set_option('display.max_rows',100)

In [4]:
df1 = pd.read_csv("vehicle_test.csv")

In [5]:
df.shape

(233154, 41)

In [6]:
for i,y in enumerate(df.columns):
    print(i,y)

0 UniqueID
1 disbursed_amount
2 asset_cost
3 ltv
4 branch_id
5 supplier_id
6 manufacturer_id
7 Current_pincode_ID
8 Date.of.Birth
9 Employment.Type
10 DisbursalDate
11 State_ID
12 Employee_code_ID
13 MobileNo_Avl_Flag
14 Aadhar_flag
15 PAN_flag
16 VoterID_flag
17 Driving_flag
18 Passport_flag
19 PERFORM_CNS.SCORE
20 PERFORM_CNS.SCORE.DESCRIPTION
21 PRI.NO.OF.ACCTS
22 PRI.ACTIVE.ACCTS
23 PRI.OVERDUE.ACCTS
24 PRI.CURRENT.BALANCE
25 PRI.SANCTIONED.AMOUNT
26 PRI.DISBURSED.AMOUNT
27 SEC.NO.OF.ACCTS
28 SEC.ACTIVE.ACCTS
29 SEC.OVERDUE.ACCTS
30 SEC.CURRENT.BALANCE
31 SEC.SANCTIONED.AMOUNT
32 SEC.DISBURSED.AMOUNT
33 PRIMARY.INSTAL.AMT
34 SEC.INSTAL.AMT
35 NEW.ACCTS.IN.LAST.SIX.MONTHS
36 DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS
37 AVERAGE.ACCT.AGE
38 CREDIT.HISTORY.LENGTH
39 NO.OF_INQUIRIES
40 loan_default

In [7]:
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [8]:
def year_cont(x):
    if x==0:
        return 2000
    else:
        return 1900+x

In [9]:
def date_create(x):
    x = x.split("-")
    year = year_cont(int(x[-1]))
    month = int(x[1])
    day = int(x[0])
    date = dt.datetime(year,month,day)
    return date

In [8]:
import datetime as dt

In [13]:
date_create('01-01-84')

datetime.datetime(1984, 1, 1, 0, 0)

In [14]:
df['Date.of.Birth'] = df['Date.of.Birth'].apply(date_create)

In [15]:
pd.unique(df['Employment.Type'])

array(['Salaried', 'Self employed', nan], dtype=object)

In [16]:
df['Employment.Type'] = np.where(df['Employment.Type'] == 'Salaried',1,0)

In [17]:
df['DisbursalDate'] = pd.to_datetime(df['DisbursalDate'])

In [18]:
score_desc = pd.get_dummies(df['PERFORM_CNS.SCORE.DESCRIPTION'],prefix = 'score_desc',drop_first=True)

In [19]:
del df['PERFORM_CNS.SCORE.DESCRIPTION']

In [20]:
def acct_age(x):
    x = x.split(" ")
    year  = int(x[0].replace('yrs',''))
    months = int(x[1].replace('mon',''))/12
    age = year+months
    return round(age,2)

In [21]:
df['AVERAGE.ACCT.AGE'] = df['AVERAGE.ACCT.AGE'].apply(acct_age)

In [22]:
df['CREDIT.HISTORY.LENGTH']= df['CREDIT.HISTORY.LENGTH'].apply(acct_age)

In [23]:
df['age_of_loan_taken']= (df['DisbursalDate'] - df['Date.of.Birth'])/np.timedelta64(1, 'Y')

In [24]:
df.drop(['DisbursalDate','Date.of.Birth'],axis = 1,inplace=True)

In [8]:
#df["DisbursalDate"] = pd.to_datetime(df["DisbursalDate"])

In [26]:
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,age_of_loan_taken
0,420825,50578,58400,89.55,67,22807,45,1441,1,6,1998,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0,0,34.182769
1,537409,47145,65550,73.23,67,22807,45,1502,0,6,1998,1,1,0,0,0,0,598,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1.92,1.92,0,1,33.156054
2,417566,53278,61360,89.63,67,22807,45,1497,0,6,1998,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0,0,32.375750
3,624493,57513,66113,88.48,67,22807,45,1501,0,6,1998,1,1,0,0,0,0,305,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0.67,1.25,1,1,24.821865
4,539055,52378,60300,88.39,67,22807,45,1495,0,6,1998,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,1,1,40.797552

In [9]:
df["Date.of.Birth"] = pd.to_datetime(df["Date.of.Birth"])

In [10]:
df["Date.of.Birth"].dt.year

0         1984
1         1985
2         1985
3         1993
4         1977
          ...
233149    1988
233150    1988
233151    1976
233152    1994
233153    1984
Name: Date.of.Birth, Length: 233154, dtype: int64

In [11]:
round(df["Date.of.Birth"].dt.month/12 ,2)

0         0.08
1         0.58
2         0.67
3         1.00
4         0.75
          ...
233149    0.08
233150    0.42
233151    0.08
233152    0.25
233153    0.17
Name: Date.of.Birth, Length: 233154, dtype: float64

In [12]:
df["age"] = (2018- df["Date.of.Birth"].dt.year) + round(df["Date.of.Birth"].dt.month/12 ,2)

In [13]:
df["age"]

0         34.08
1         33.58
2         33.67
3         26.00
4         41.75
          ...
233149    30.08
233150    30.42
233151    42.08
233152    24.25
233153    34.17
Name: age, Length: 233154, dtype: float64

In [14]:
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,age
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,34.08
1,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1,33.58
2,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,33.67
3,624493,57513,66113,88.48,67,22807,45,1501,1993-12-30,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1,26.00
4,539055,52378,60300,88.39,67,22807,45,1495,1977-09-12,Self employed,26-09-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1,41.75

In [15]:
temp = df["Employment.Type"].dropna()
temp = temp.mode()[0]
df["Employment.Type"].fillna(temp,inplace=True)

In [16]:
df["Employment.Type"].unique()

array(['Salaried', 'Self employed'], dtype=object)

In [17]:
dummy = pd.DataFrame()
temp = pd.get_dummies(df["Employment.Type"], drop_first=True, prefix="Employment.Type")
dummy = pd.concat([dummy,temp], axis =1 )

In [18]:
df = pd.concat([df,dummy], axis =1)

In [19]:
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,age,Employment.Type_Self employed
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,34.08,0
1,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1,33.58,1
2,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,33.67,1
3,624493,57513,66113,88.48,67,22807,45,1501,1993-12-30,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1,26.00,1
4,539055,52378,60300,88.39,67,22807,45,1495,1977-09-12,Self employed,26-09-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1,41.75,1

In [20]:
df.drop(df.columns[[0,4,5,6,7,8,9,10,11,12]], axis=1, inplace=True)

In [21]:
df

,disbursed_amount,asset_cost,ltv,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,age,Employment.Type_Self employed
0,50578,58400,89.55,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,34.08,0
1,47145,65550,73.23,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1,33.58,1
2,53278,61360,89.63,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,33.67,1
3,57513,66113,88.48,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1,26.00,1
4,52378,60300,88.39,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1,41.75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,63213,105405,60.72,1,0,0,1,0,0,735,D-Very Low Risk,4,3,0,390443,416133,416133,0,0,0,0,0,0,4084,0,0,0,1yrs 9mon,3yrs 3mon,0,0,30.08,0
233150,73651,100600,74.95,1,0,0,1,0,0,825,A-Very Low Risk,1,0,0,0,0,0,0,0,0,0,0,0,1565,0,0,0,0yrs 6mon,0yrs 6mon,0,0,30.42,1
233151,33484,71212,48.45,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,42.08,0
233152,34259,73286,49.10,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,24.25,0
233153,75751,116009,66.81,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,34.17,0

In [22]:
df.shape

(233154, 33)

In [23]:
def mon(x):
    p1 = x.split(" ")[0][len(x.split(" ")[0])-4::-1]
    if len(p1)==1:
        p=12*int(p1)
    else:
        p=12*int(str(p1)[1]+str(p1)[0])

    s1=x.split(" ")[1][len(x.split(" ")[1])-4::-1]
    if len(s1)==1:
        s=s1
    else:
        s=str(s1)[1]+str(s1)[0]
    months = int(p) + int(s)
    return months

In [24]:
df["AVERAGE.ACCT.AGE"]=df["AVERAGE.ACCT.AGE"].apply(lambda x: mon(x))
df["CREDIT.HISTORY.LENGTH"]=df["CREDIT.HISTORY.LENGTH"].apply(lambda x: mon(x))

In [25]:
df["AVERAGE.ACCT.AGE"]

0          0
1         23
2          0
3          8
4          0
          ..
233149    21
233150     6
233151     0
233152     0
233153     0
Name: AVERAGE.ACCT.AGE, Length: 233154, dtype: int64

In [26]:
df.head()

,disbursed_amount,asset_cost,ltv,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,age,Employment.Type_Self employed
0,50578,58400,89.55,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,34.08,0
1,47145,65550,73.23,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,23,23,0,1,33.58,1
2,53278,61360,89.63,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33.67,1
3,57513,66113,88.48,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,8,15,1,1,26.00,1
4,52378,60300,88.39,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,41.75,1

In [27]:
score_desc = pd.get_dummies(df['PERFORM_CNS.SCORE.DESCRIPTION'],prefix = 'score_desc',drop_first=True)
df = pd.concat([df,score_desc], axis =1)

In [29]:
df

,disbursed_amount,asset_cost,ltv,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,...,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,age,Employment.Type_Self employed,score_desc_B-Very Low Risk,score_desc_C-Very Low Risk,score_desc_D-Very Low Risk,score_desc_E-Low Risk,score_desc_F-Low Risk,score_desc_G-Low Risk,score_desc_H-Medium Risk,score_desc_I-Medium Risk,score_desc_J-High Risk,score_desc_K-High Risk,score_desc_L-Very High Risk,score_desc_M-Very High Risk,score_desc_No Bureau History Available,score_desc_Not Scored: More than 50 active Accounts found,score_desc_Not Scored: No Activity seen on the customer (Inactive),score_desc_Not Scored: No Updates available in last 36 months,score_desc_Not Scored: Not Enough Info available on the customer,score_desc_Not Scored: Only a Guarantor,score_desc_Not Scored: Sufficient History Not Available
0,50578,58400,89.55,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,34.08,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,47145,65550,73.23,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,...,23,23,0,1,33.58,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,53278,61360,89.63,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,33.67,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,57513,66113,88.48,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,...,8,15,1,1,26.00,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,52378,60300,88.39,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,41.75,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,63213,105405,60.72,1,0,0,1,0,0,735,D-Very Low Risk,4,3,0,390443,416133,416133,0,0,0,0,0,0,4084,0,...,21,39,0,0,30.08,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
233150,73651,100600,74.95,1,0,0,1,0,0,825,A-Very Low Risk,1,0,0,0,0,0,0,0,0,0,0,0,1565,0,...,6,6,0,0,30.42,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
233151,33484,71212,48.45,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,42.08,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
233152,34259,73286,49.10,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,24.25,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
233153,75751,116009,66.81,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,34.17,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

# DF1

In [30]:
df1["Date.of.Birth"] = pd.to_datetime(df1["Date.of.Birth"])

In [31]:
df1["age"] = (2018- df1["Date.of.Birth"].dt.year) + round(df1["Date.of.Birth"].dt.month/12 ,2)

In [32]:
temp = df1["Employment.Type"].dropna()
temp = temp.mode()[0]
df1["Employment.Type"].fillna(temp,inplace=True)

In [33]:
dummy = pd.DataFrame()
temp = pd.get_dummies(df1["Employment.Type"], drop_first=True, prefix="Employment.Type")
dummy = pd.concat([dummy,temp], axis =1)

In [34]:
df1= pd.concat([df1,dummy], axis =1)

In [35]:
df1["AVERAGE.ACCT.AGE"]=df1["AVERAGE.ACCT.AGE"].apply(lambda x: mon(x))
df1["CREDIT.HISTORY.LENGTH"]=df1["CREDIT.HISTORY.LENGTH"].apply(lambda x: mon(x))

In [36]:
df1.drop(df1.columns[[0,4,5,6,7,8,9,10,11,12]], axis=1, inplace=True)

In [38]:
score_desc = pd.get_dummies(df1['PERFORM_CNS.SCORE.DESCRIPTION'],prefix = 'score_desc',drop_first=True)
df1 = pd.concat([df1,score_desc], axis =1)

In [57]:
score_desc

,score_desc_B-Very Low Risk,score_desc_C-Very Low Risk,score_desc_D-Very Low Risk,score_desc_E-Low Risk,score_desc_F-Low Risk,score_desc_G-Low Risk,score_desc_H-Medium Risk,score_desc_I-Medium Risk,score_desc_J-High Risk,score_desc_K-High Risk,score_desc_L-Very High Risk,score_desc_M-Very High Risk,score_desc_No Bureau History Available,score_desc_Not Scored: No Activity seen on the customer (Inactive),score_desc_Not Scored: No Updates available in last 36 months,score_desc_Not Scored: Not Enough Info available on the customer,score_desc_Not Scored: Only a Guarantor,score_desc_Not Scored: Sufficient History Not Available
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112387,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
112388,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
112389,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
112390,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
112391,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [54]:
df1.head()

,disbursed_amount,asset_cost,ltv,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,age,Employment.Type_Self employed,score_desc_B-Very Low Risk,score_desc_C-Very Low Risk,score_desc_D-Very Low Risk,score_desc_E-Low Risk,score_desc_F-Low Risk,score_desc_G-Low Risk,score_desc_H-Medium Risk,score_desc_I-Medium Risk,score_desc_J-High Risk,score_desc_K-High Risk,score_desc_L-Very High Risk,score_desc_M-Very High Risk,score_desc_No Bureau History Available,score_desc_Not Scored: No Activity seen on the customer (Inactive),score_desc_Not Scored: No Updates available in last 36 months,score_desc_Not Scored: Not Enough Info available on the customer,score_desc_Not Scored: Only a Guarantor,score_desc_Not Scored: Sufficient History Not Available
0,53478,63558,86.54,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,44.08,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,55513,63163,89.45,1,1,0,0,0,0,749,2,1,0,43898,48780,48780,0,0,0,0,0,0,5605,0,1,0,8,12,1,33.42,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,65282,84320,79.93,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23.83,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,46905,63896,76.58,1,1,0,0,0,0,14,1,1,1,132480,255000,255000,0,0,0,0,0,0,0,0,0,0,29,29,0,45.08,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,51428,63896,86.08,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,46.08,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [83]:
df.head()

,disbursed_amount,asset_cost,ltv,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,age,Employment.Type_Self employed
0,50578,58400,89.55,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,34.08,0
1,47145,65550,73.23,1,1,0,0,0,0,598,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,23,23,0,1,33.58,1
2,53278,61360,89.63,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33.67,1
3,57513,66113,88.48,1,1,0,0,0,0,305,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,8,15,1,1,26.00,1
4,52378,60300,88.39,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,41.75,1

In [44]:
del df["PERFORM_CNS.SCORE.DESCRIPTION"]
del df1["PERFORM_CNS.SCORE.DESCRIPTION"]

Index(['disbursed_amount', 'asset_cost', 'ltv', 'MobileNo_Avl_Flag',
       'Aadhar_flag', 'PAN_flag', 'VoterID_flag', 'Driving_flag',
       'Passport_flag', 'PERFORM_CNS.SCORE', 'PRI.NO.OF.ACCTS',
       'PRI.ACTIVE.ACCTS', 'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE',
       'PRI.SANCTIONED.AMOUNT', 'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS',
       'SEC.ACTIVE.ACCTS', 'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE',
       'SEC.SANCTIONED.AMOUNT', 'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT',
       'SEC.INSTAL.AMT', 'NEW.ACCTS.IN.LAST.SIX.MONTHS',
       'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS', 'AVERAGE.ACCT.AGE',
       'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES', 'loan_default', 'age',
       'Employment.Type_Self employed', 'score_desc_B-Very Low Risk',
       'score_desc_C-Very Low Risk', 'score_desc_D-Very Low Risk',
       'score_desc_E-Low Risk', 'score_desc_F-Low Risk',
       'score_desc_G-Low Risk', 'score_desc_H-Medium Risk',
       'score_desc_I-Medium Risk', 'score_desc_J-High Risk',
       'score_desc_K-High Risk', 'score_desc_L-Very High Risk',
       'score_desc_M-Very High Risk', 'score_desc_No Bureau History Available',
       'score_desc_Not Scored: More than 50 active Accounts found',
       'score_desc_Not Scored: No Activity seen on the customer (Inactive)',
       'score_desc_Not Scored: No Updates available in last 36 months',
       'score_desc_Not Scored: Not Enough Info available on the customer',
       'score_desc_Not Scored: Only a Guarantor',
       'score_desc_Not Scored: Sufficient History Not Available'],
      dtype='object')

In [56]:
df1.columns

Index(['disbursed_amount', 'asset_cost', 'ltv', 'MobileNo_Avl_Flag',
       'Aadhar_flag', 'PAN_flag', 'VoterID_flag', 'Driving_flag',
       'Passport_flag', 'PERFORM_CNS.SCORE', 'PRI.NO.OF.ACCTS',
       'PRI.ACTIVE.ACCTS', 'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE',
       'PRI.SANCTIONED.AMOUNT', 'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS',
       'SEC.ACTIVE.ACCTS', 'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE',
       'SEC.SANCTIONED.AMOUNT', 'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT',
       'SEC.INSTAL.AMT', 'NEW.ACCTS.IN.LAST.SIX.MONTHS',
       'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS', 'AVERAGE.ACCT.AGE',
       'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES', 'age',
       'Employment.Type_Self employed', 'score_desc_B-Very Low Risk',
       'score_desc_C-Very Low Risk', 'score_desc_D-Very Low Risk',
       'score_desc_E-Low Risk', 'score_desc_F-Low Risk',
       'score_desc_G-Low Risk', 'score_desc_H-Medium Risk',
       'score_desc_I-Medium Risk', 'score_desc_J-High Risk',
       'score_desc_K-High Risk', 'score_desc_L-Very High Risk',
       'score_desc_M-Very High Risk', 'score_desc_No Bureau History Available',
       'score_desc_Not Scored: No Activity seen on the customer (Inactive)',
       'score_desc_Not Scored: No Updates available in last 36 months',
       'score_desc_Not Scored: Not Enough Info available on the customer',
       'score_desc_Not Scored: Only a Guarantor',
       'score_desc_Not Scored: Sufficient History Not Available'],
      dtype='object')

## Modeling

In [45]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)

In [46]:
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
x_train = df.drop("loan_default", axis =1)
y_train = df["loan_default"]
x_test = df1

In [51]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(233154, 50)
(233154,)
(112392, 49)

In [48]:
from sklearn.preprocessing import Normalizer
sc = Normalizer()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [49]:
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [50]:
y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

ValueError: X has 49 features per sample; expecting 50

In [ ]:
from sklearn.metrics import precision_score , recall_score ,fbeta_score

In [ ]:
precision = precision_score(y_train_pred, y_train)

In [ ]:
precision

In [ ]:
y_train_pred

In [ ]:
y_train