In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('CarPrice_Assignment.csv')
pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", 50)

In [2]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
df.drop(df.columns[[0]], axis=1 ,inplace=True)

In [4]:
pd.unique(df['CarName'])

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [5]:
df['brand_name'] = df['CarName'].apply(lambda x: x.split(" ")[0])

In [6]:
pd.unique(df['brand_name'])

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [7]:
df['brand_name'] = df['brand_name'].replace('maxda','mazda')
df['brand_name']= df['brand_name'].replace('Nissan','nissan')

In [8]:
replace_dict = dict([('porcshce','porsche'),('toyouta','toyota'),('vokswagen','volkswagen')])
for k,v in replace_dict.items():
    df['brand_name'].replace(k,v,inplace=True)

In [9]:
pd.unique(df['brand_name'])

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [10]:
for col in df.columns:
    if df[col].dtype =='O':
        print('{}:{}'.format(col,len(pd.unique(df[col]))))

CarName:147
fueltype:2
aspiration:2
doornumber:2
carbody:5
drivewheel:3
enginelocation:2
enginetype:7
cylindernumber:7
fuelsystem:8
brand_name:23

In [11]:
del df['CarName']

In [12]:
pd.get_dummies(df['carbody'],drop_first=True)

     hardtop  hatchback  sedan  wagon
0          0          0      0      0
1          0          0      0      0
2          0          1      0      0
3          0          0      1      0
4          0          0      1      0
..       ...        ...    ...    ...
200        0          0      1      0
201        0          0      1      0
202        0          0      1      0
203        0          0      1      0
204        0          0      1      0

[205 rows x 4 columns]

In [13]:
# creating dummy colums for all the columns in dataframe with object datatype
dummy=pd.DataFrame()
for col in df.columns:
    if df[col].dtypes == 'O':
        temp = pd.get_dummies(df[col],drop_first=True,prefix = col)
        dummy=pd.concat([dummy,temp],axis =1)

In [14]:
len(dummy) == len(df)

True

In [15]:
#extracting numeric columns
df_numeric= pd.DataFrame()
for col in df.columns:
    if df[col].dtypes !='O':
        df_numeric=pd.concat([df_numeric,df[[col]]],axis=1)

In [16]:
df_final = pd.concat([dummy,df_numeric],axis=1)

In [17]:
df_final.shape

(205, 66)

In [18]:
df.shape

(205, 25)

In [19]:
df_final.columns

Index(['fueltype_gas', 'aspiration_turbo', 'doornumber_two', 'carbody_hardtop',
       'carbody_hatchback', 'carbody_sedan', 'carbody_wagon', 'drivewheel_fwd',
       'drivewheel_rwd', 'enginelocation_rear', 'enginetype_dohcv',
       'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf', 'enginetype_ohcv',
       'enginetype_rotor', 'cylindernumber_five', 'cylindernumber_four',
       'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve',
       'cylindernumber_two', 'fuelsystem_2bbl', 'fuelsystem_4bbl',
       'fuelsystem_idi', 'fuelsystem_mfi', 'fuelsystem_mpfi',
       'fuelsystem_spdi', 'fuelsystem_spfi', 'brand_name_audi',
       'brand_name_bmw', 'brand_name_buick', 'brand_name_chevrolet',
       'brand_name_dodge', 'brand_name_honda', 'brand_name_isuzu',
       'brand_name_jaguar', 'brand_name_mazda', 'brand_name_mercury',
       'brand_name_mitsubishi', 'brand_name_nissan', 'brand_name_peugeot',
       'brand_name_plymouth', 'brand_name_porsche', 'brand_name_renault',
       'brand_name_saab', 'brand_name_subaru', 'brand_name_toyota',
       'brand_name_volkswagen', 'brand_name_volvo', 'brand_name_vw',
       'symboling', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

# MODEL BUILDING

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
x= df_final.drop('price',axis=1)
y= df_final['price']

In [45]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state=53)

In [46]:
from sklearn.preprocessing import StandardScaler,Normalizer
sc = StandardScaler()
nz = Normalizer()
#x_train= sc.fit_transform(x_train)
#x_test = sc.transform(x_test)
x_train= nz.fit_transform(x_train)
x_test = nz.transform(x_test)

In [63]:
lr = LinearRegression()

In [64]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
y_pred_test = lr.predict(x_test)
y_pred_train = lr.predict(x_train)

In [66]:
from sklearn.metrics import r2_score,mean_squared_error

In [67]:
r2_train = r2_score(y_train,y_pred_train)
r2_test = r2_score(y_test,y_pred_test)

In [68]:
(r2_train,r2_test)

(0.9657233705951564, 0.9073526805036776)

In [69]:
np.sqrt(mean_squared_error(y_train,y_pred_train))

1484.1105531671574

In [70]:
np.sqrt(mean_squared_error(y_test,y_pred_test))

2390.6657512545203